<!-- Nav tabs -->
<div class="container">
<ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">Text</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">Message</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="text" role="tabpanel" aria-labelledby="text-tab">
    <translate-plain-text></translate-plain-text>
  </div>
  <div class="tab-pane" id="message" role="tabpanel" aria-labelledby="message-tab">
    <translate-message-event></translate-message-event>
  </div>
</div>
</div>